{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title>POLLS</title>
</head>

<body>
    <div class="card container-fluid text-center">
        <div class="card-header">
            POLLS APP
        </div>
        <div class="card-body">
            <h5 class="card-title mt-5">Hello World. You're at the polls index.</h5>
            <p class="card-text mt-5">This will be populated with the polls in the next task.</p>
            <p>The btn below will be linked to the correct link later <now class=""></now></p>
            <a href="#" class="btn btn-primary">DEAD LINK</a>
        </div>
    </div>

</body>

</html>